.about{
    background-image: url("../img/phoneSection.png") ;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    height: 100%;
    padding-top: 157px;
    padding-bottom: $large-spacing;
}
.about-me{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-img{
    margin-bottom: 50px;
}
.greeting{
    font-size: 48px;
    color: white;
    font-weight: bold;
    margin-bottom: 24px;
}
.about-me-text-container{
    text-align: center;
    color: white;
    padding: 0 30px;
}
.about-me-text{
    font-size: 18px;
    line-height: 30px;
}

@include media-breakpoint-desktop{
    .about{
        padding-top: 200px;
        padding-bottom: 130px;
        background-image: url("../img/desktopSection.png") ;
    }
    .about-me{
        flex-direction: row;
        align-items: center;
    }
    .about-img{
        margin-right: 75px;
        margin-bottom: 0
    }
    .greeting{
        text-align: left;
    }
    .about-me-text{
        text-align: left;
    }
}