.section{
    background-color: $primary;
    padding-top: (31 / 16) * $spacer;
    padding-bottom: (31 / 16) * $spacer;
    &.--white{
        background-color: white;
    }
}

.about-text{
    color: white;
}