.header{
    padding-top: (36 / 16) * $spacer;
    .offcanvas-toggler{
        position: absolute;
        left: 25px;
        background: none;
        border: none;
    }
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: $large-spacing !important;
}
.hero{
    text-align: center;
    margin-bottom: $large-spacing !important;
    .illustration{
        width: 279px;
    }
}
.title{
    color: $primary;
    font-weight: bold;
    font-size: (94 / 16) * $spacer;
    text-align: center;
    line-height: 110px;
}
.subtitle{
    font-size: 24px;
    color: rgba(0, 0, 0, .63);
    font-weight: bold;
    text-align: center;
    margin-bottom: (20/16) * $spacer;
}
.header-cv-btn{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    background-color:black ;
    padding: 12px 45px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: $large-spacing;
}