.header{
    padding-top: (36 / 16) * $spacer;
    .offcanvas-toggler{
        position: absolute;
        left: 25px;
        background: none;
        border: none;
    }
    
}
.nav{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: $large-spacing !important;
}
.nav-item{
    color: black;
    &:hover{
        color: $primary;
    }
}
.hero{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: $large-spacing;
    align-items: center;
    .illustration{
        width: 279px;
    }
}

.title{
    color: $primary;
    font-weight: bold;
    font-size: (94 / 16) * $spacer;
    text-align: center;
    line-height: 110px;
}
.subtitle{
    font-size: 24px;
    color: rgba(0, 0, 0, .63);
    font-weight: bold;
    text-align: center;
    margin-bottom: (20/16) * $spacer;
}
.header-cv-btn{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 48px;
    text-transform: uppercase;
    background-color:black ;
    padding: 12px 45px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: $large-spacing;
    &:hover{
        color: $primary;
        text-decoration: none;
    }
}

@include media-breakpoint-desktop{
    .nav-item{
        display: inline-block;
        margin-right: 60px;
    }
    .nav{
        justify-content: space-between;
        margin-bottom: 200px !important;
        padding: 0 190px !important;
    }
    .hero{
        justify-content: space-between;
        flex-direction: row;
        text-align: left;
        margin-bottom: 200px;
        padding: 0 190px !important;
        .illustration{
            order: 1;
            height: auto;
            width: 50%;
        }
    }
   .title{
       text-align: left;
   }
   .subtitle{
       text-align: left;
       margin-bottom: 57px;
   }
   .header-cv-btn{
        margin: 0;
        text-align: left;
   }
   .mouse{
        position: relative;
        width: 21px;
        height: 52px;
        border: 4px solid #000000;
        box-sizing: border-box;
        border-radius: 10.5px;
        margin: 0 auto;
        margin-bottom: 200px;
        .mouse-cursor{
            position: absolute;
            width: 5px;
            height: 15px;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);
            background: #1E1E1E;
            border-radius: 7px;
            animation: cursor 1s ease-in-out infinite;
        }
    }
}
@keyframes cursor{
    0%{
        opacity: 0;
        bottom: 40%;
    }
    10%{
        opacity: .4;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        bottom: 20%;
    }
}