.icons-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .container-img{
        margin-right: $spacer / 2;
    }
}

@include media-breakpoint-up(md) {
    .icons-container{
        justify-content: unset;
    }
}
