

.project__modal{
    .project-img{
        margin-bottom: $spacer;
    }
    .control-wrapper{
        margin-top: $spacer * 2;
        display: flex;
        justify-content: space-around;
    }
    .modal-btn{
        padding: (8 / 16) * $spacer (20 / 16) * $spacer;
        color: white !important;
        background-color: $primary;
        bottom: 25px;
        border: none;
        margin-right: $spacer ;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: $primary;
            background: white;
            text-decoration: none;
        }
    }
    div.modal-dialog{
        display: flex;
        justify-content: center;
    }
    .modal-content{
        width: 90vw;
        height: 100%
    }
}
@include media-breakpoint-up(md){
    .project__modal{
        .control-wrapper{
            margin-top: $spacer * 2;
            display: flex;
            justify-content: flex-start;
        }
        .modal-btn{
            padding: (8 / 16) * $spacer (20 / 16) * $spacer;
            color: white;
            background-color: $primary;
            bottom: 25px;
            border: none;
            margin-right: $spacer ;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: white;
                background: lighten($primary, 50%);
                text-decoration: none;
            }
        }
        div.modal-dialog{
            display: block;
            transform: translate(-50% , 50%) !important;
        }
        .modal-content{
            width: 50vw;
            height: 100%
        }
    }
}