.projects{
    padding-top: $large-spacing;
    padding-bottom: $large-spacing;
    .row{
        overflow-x: hidden;
    }
    background-color: $primary;
    .project-container{
        height: 332px;
    }
    .overlay{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.project-container{
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
}
.project-title{
    text-align: center;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.modal-btn{
    color: black;
    background: white;
    border: none;
    width: 80%;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    padding: 20px 36px;
    &:hover{
        color: $primary;
        background: white;
        text-decoration: none;
    }
}
.project__modal{
    .project-img{
        margin-bottom: $spacer;
    }
    .control-wrapper{
        margin-top: $spacer * 2;
        display: flex;
        justify-content: space-around;
    }
    .modal-title{
        font-weight: bold;
    }
    .modal-btn{
        text-align: center;
        padding: (8 / 16) * $spacer (20 / 16) * $spacer;
        color: white !important;
        background-color: $primary;
        font-size: 1rem;
        bottom: 25px;
        border: none;
        margin-right: $spacer ;
        &:last-child{
            margin-right: 0;
        }
        &:hover{
            color: $primary;
            background: white;
            text-decoration: none;
        }
    }
    div.modal-dialog{
        display: flex;
        justify-content: center;
    }
    .modal-content{
        width: 90vw;
        height: 100%
    }
}
@include media-breakpoint-desktop(){
    .project__modal{
        .control-wrapper{
            margin-top: $spacer * 2;
            display: flex;
            justify-content: flex-start;
        }
        .modal-btn{
            padding: (8 / 16) * $spacer (20 / 16) * $spacer;
            color: white;
            background-color: $primary;
            bottom: 25px;
            border: none;
            margin-right: $spacer ;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: white;
                background: lighten($primary, 50%);
                text-decoration: none;
            }
        }
        div.modal-dialog{
            display: block;
            transform: translate(-50% , 50%) !important;
        }
        .modal-content{
            width: 50vw;
            height: 100%
        }
    }
}