*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif !important;
    color: #242424;
}
/* GENERAL */
p{
    font-size: 18px;
}
a{
    text-decoration: none;
    color: black !important;
}
h2{
    font-size: 35px !important;
    font-weight: 800;
    margin: 30px 0 !important;
    font-family: "Lobster", cursive !important;
}
h4{
    font-family: "Lobster", cursive !important;
}
.separator{
    width: 250px;
    height: 2px;
    background: #E5E5E5;
    margin: 25px auto;
}
section{
    margin: 30px 0;
    padding: 30px;
}
.beige{
    background: #ffb677;
}
.beige .separator{
    background: rgb(36, 36, 36,.2);

}
/* HEADER */
header{
    padding: 80px 20px;
    margin: 50px 0;
    background: url("./img/blake-connally-435076-unsplash.jpg") no-repeat center;
    color: white;
    background-size: cover;
    background-position-y: -60px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
header h1{
    font-family: "Lobster", cursive !important;
    color: #ffb677; 

}
header h3{
    font-size: 20px;
}
.profilePic{
    width: 150px;
    height: 150px;
    background: url("./img/Kevin-200x300.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 15px 0 0 0;
    box-shadow: 10px 10px 8px 0px rgb(29, 29, 29,.1)
}
nav ul li{
    display: inline-block;
    margin: 0px 10px;
    color: rgb(29, 29, 29);
}


.customNav{
    background: #ffb677 ;
    box-shadow: 10px 10px 8px 0px rgb(29, 29, 29,.05);
}
/* WORKS */
.photoBlock{
    width: 200px;
    height: 200px;
    margin: 20px 0;
    transition: .2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.photoBlock .overlay{
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 0%;
    background: rgba(252, 252, 252, 0.9);
    transition: .2s;
}
.photoBlock:hover .overlay{
    padding: 20px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.lob{
    font-weight: 600;
}
.time{
    text-decoration: underline;
    font-family: "Lobster",cursive;
}
#works .col-sm-6{
    display: flex !important;
    justify-content: center !important;
}
#works .photoBlock img{
    height: 100%;
    text-align: center;
}
#skills h6{
    margin: 10px 0;
}
/* SKILLS */
#skills .container{
    display: flex;
    flex-direction: column; 
    align-items: center;
}
#skills p{
    margin: 40px 0;
    font-family: "Lobster", cursive !important;
}
.skillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skillsContainer img{
    margin: 0 10px;
    height: 60px;
}
/* LOISIR */
#loisirs .row{
    display: flex;
    justify-content: center;
}
#loisirs .fas{
    text-align: center;
    margin: 10px;
    font-size: 30px;
    padding: 20px;
}
/* CONTACT */
#contact .fas{
    margin: 0 20px 0 0;
    font-size: 20px !important;
}
#contact table{
    margin: 20px 0;
}
#contact label{
    font-weight: 600;
}
#contact .fas, #contact p{
    font-size: 15px;
    font-weight: 600;
}
.aLink{
    display: flex;
    justify-content: space-around;
}
.aLink a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aLink img{
    margin: 0 25px 0 0;
    width: 60px;
}
.coordonnees td{
    vertical-align: middle;
    padding: 10px 0;
}
.coordonnees p{
    margin: 0;
}
.submit{
    background: transparent;
    border: 2px solid white !important;
    transition: .2s;
}
.submit:hover{
    background: #242424;
    color: #E5E5E5;
    border: none;
    transition: .2s;
}
/* Footer */
footer{
    background: #ffb677;
    padding: 10px;
    text-align: center;
    margin-top: 20px; 
}
.fa-chevron-up{
    animation: chevron 1s infinite linear;
    margin: 0 10px;
}
@keyframes chevron{
    0%,100%{
        transform: translateY(-5px) ;
    }
    50%{
        transform: translateY(0px);
    }
}
@media screen and (min-width: 720px){
    .profilePic{
        width: 200px;
        height: 200px;
    }
    .container{
        padding: 0 100px !important;
        width: 100%;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: #ffb677 !important;
    }
    .nav-item a{
        transition: .1s
    }
    .nav-item a:hover{
        transition: .1s;
    }
    form{
        padding: 0 100px;
    }
    .separator{
        width: 350px;
    }
    #contact .fas, #contact p{
        font-size: 20px;
        font-weight: 600;
    }
    #contact table{
        margin: 0;
    }
    .aLink{
        display: flex;
        justify-content: flex-start;
    }
}