*{
    padding: 0;
    margin: 0;
}
body{

}
/* GENERAL */
a{
    text-decoration: none;
    color: black !important;
}
h2{
    font-size: 20px !important;
    text-transform: uppercase;
}
.separator{
    width: 150px;
    height: 2px;
    background: #E5E5E5;
    margin: 18px auto;
}
/* HEADER */
header{
    background: url("./img/Vector.png") no-repeat;
    background-size: cover;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
header h3{
    font-size: 20px;
}
.profilePic{
    width: 100px;
    height: 100px;
    background: url("https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg") no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 15px 0;
}
nav ul li{
    display: inline-block;
    margin: 10px 10px;
    color: rgb(29, 29, 29);
}

/* WORKS */
.photoBlock{
    width: 100%;
    height: 100px;
    margin: 20px 0;
}
#works .col-sm-6{
    display: flex !important;
    justify-content: center !important;
}
#works .photoBlock img{
    height: 100%;
}
.photoBlock{
    cursor: pointer;
}
#skills h6{
    margin: 10px 0;
}

@media screen and (min-width: 720px){
    .profilePic{
        width: 150px;
        height: 150px;
    }
    .container{
        padding: 0 120px !important;
    }
}