@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_partials/fonts";
@import "./_partials/variables";
@import "./_partials/responsive.scss";

//Components
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/project.scss";
@import "./components/contact.scss";
@import "./components/tech.scss";
@import "./components/offcanvas-menu.scss";
@import "./_partials/responsiveClasses.scss";
//common

.section-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: (50 / 16) * $spacer;
    color: white;
    &.--black{
        color: black;
    }
}

@include media-breakpoint-desktop{
    .section-title{
        font-size: 48px;
        margin-bottom: (75 / 16) * $spacer;
    }
    
}