@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_partials/fonts";
@import "./_partials/variables";

//Components
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/project.scss";
@import "./components/contact.scss";

//common
.section-title{
    color: white;
    font-family: $heading-font;
    text-align: center;
    font-size: 36px;
    margin-bottom: (32/ 16)  * $spacer;
    
    &.--black{
        color: $primary;
    }
    &::after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 80%;
        background-color: #525252;
        height: 1px;
        margin-top: (18 / 16)  * $spacer;
    }
}